//one rule of cult has been deleted
script(type='text/javascript').
    var one =!{JSON.stringify(open)}
    console.log(one);
    var two =!{JSON.stringify(conn)}
    console.log(two);
        var three =!{JSON.stringify(extn)}
    console.log(three);
        var four =!{JSON.stringify(agrn)}
    console.log(four);
        var five =!{JSON.stringify(neun)}
    console.log(five);